<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>cb</servlet-name>
    <servlet-class>ahuglajbclajep.linebot.CallBack</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ri</servlet-name>
    <servlet-class>ahuglajbclajep.linebot.ReturnImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cb</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ri</servlet-name>
    <url-pattern>*.jpg</url-pattern>
  </servlet-mapping>
</web-app>